/* 전체 */
html{
	scroll-behavior: smooth;
}

:root {
	background-color: black;
	color: #fff;
	--subpage-font-color: #D9E250;
	--subpage-left-margin: 100px;
}

.empty{
	height: 500px;
}

.profile_fix{
	width: 100%;
	position: fixed;
}

/* 헤더부분 뺀 컨텐트부분 */
.profile_content{
	margin: 0 auto;
	width: 80%;
	padding-top: 250px;
}


/* 헤더 */
.profile_header{
	display: flex;
	height: 100px;
	margin-top: 20px;
}

/* 아이콘 */
.profile_goHome{
	height: 25px;
	margin-top: 30px;
	margin-left: 40px;
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

/* 제목 */
.profile_title{
	margin: 0 auto;
	font-size: 30px;
	margin-top: 20px;
}

/* 제목에서 mbti부분 */
.profile_title_mbti{
	color: var(--subpage-font-color);
}

/* 제목에서 Know yout MBTI 부분 */
.profile_title_description{

}

/* 네브바 */
.profile_navBar{
	font-size: 25px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60px;
}

/* 네브바 아이템들 */
.profile_navBar > a {
	text-decoration: none;
	margin: 0px 40px;
	color: #fff;
	height: 45px;
}

.profile_navBar > a:hover{
	border-bottom: 3px solid var(--subpage-font-color);
}

/* Mbti 설명 */
.profile_description{
	display: flex;
	height: 400px;
}

/* Mbti 설명에서 이미지 큰 틀 */
.profile_image_box{
	float: left;
	width: 50%;
	height: 400px;
}

/* Mbti 설명에서 오른쪽 */
.profile_description_content{
	float: left;
	width: 50%;
	height: 300px;
	margin: 100px 0px 0px 40px;
	position: relative;
}

/* Mbti 설명에서 성격유형 */
.profile_personality_type{
	border: 1px solid;
	width: 80px;
	height: 25px;
	text-align: center;
	padding-top: 4px;
	position: absolute;
	top: 9px;
}

/* Mbti 설명에서 mbti부분 */
.profile_mbti{
	position: absolute;
	top: 0px;
	left: 95px;
	font-size: 35px;
	color: var(--subpage-font-color);
}

/* Mbti 설명에서 별명부분 */
.profile_nickname{
	position: absolute;
	top: 50px;
	font-size: 2.5em;
}

/* Mbti 설명에서 성격부분 */
.profile_personality{
	position: absolute;
	top: 120px;
}

/* 특징 */
/* 특징 내용 */
.character_content{
	font-size: 16px;
}

.prosContent{
	text-align: center;
}

.pros{
	
}


.propsCons-el{
	margin: 10px 0px;
}

#description, #character, #prosCons, #fact, #job, #love, #chemistry{
	text-align: center;
	min-height: 800px;	
	padding-top: 200px;
}

.profile_content_title{
	font-size: 50px;
	color: var(--subpage-font-color);
	margin-bottom: 40px;
}

ul{
	list-style: none;
	padding-left: 20px;
}
li{
	margin: 10px 0px;
}



