/* main 전체 컨테이너 */
.main_container {
	height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
/* 헤더 */
.main_header {
  font-size: 30px;
  justify-content: center;
}

/* 컨텐츠 */
.main_content{
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 0.3rem;
  column-gap: 2rem;
}

/* 컨텐츠 아이템들 */
.main_items > a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 4rem;
  font-size: 35px;
}

.main_footer {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
	.main_container {
		height: 180%;
	}
	.main_content{
		display: flex;
		flex-direction: column;
	}
}